*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
main{
    width: 100%;
    height: 100vh;
    background: #020620;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img{
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: 2;
    overflow-y: hidden;
}
#moon{
    mix-blend-mode: screen;
}
#stars{
    z-index: 1;
}
#mountains_behind{
    z-index: 3;
}
#mountains_front{
    z-index: 4;
}
#text{
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
h1{
    font-size: 60px;
}
#btn{
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    background: #fff;
    border-radius: 30px;
    color: #020620;
    margin: 30px auto;
}
section{
    position: relative;
    padding: 150px 10px 20px;
    background: #2c0a36;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
section::before{
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    top: -100px;
    z-index: 1000;
    background: linear-gradient(to top, #2c0a36, transparent);
}
.button{
    width: 100%;
    height: 30px;
    margin: 30px auto;
    font-size: 20px;
    background: #020620;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
}